.header {
    background-color: whitesmoke;
    font-family: fantasy;
    color: black;
}

.main {
    background: whitesmoke;
    margin: 1%;
    font-family: fantasy;
    color: green;
    border: 2px solid black;
    padding: 2.5%;
}

.takeSurvey {
     background-color:#e0f2f1;
     color: black;
     border: 1px solid grey;
   }

body {
    margin: 5%;
}